{% extends 'base.html'%}

{% block tittle %}Blog Categories{% endblock %}

{% block content %}

{% if category_posts %}

	<h1>Category {{ cats }} </h1>
	<ul>
	{% for post in category_posts %}
		<li><a href="{% url 'article-detail' post.pk %}">
		{{ post.tittle }}</a>
		 - {{post.category}}
			-{{ post.author.first_name}} 
			{{ post.author.last_name }} 
				{% if user.is_authenticated %}
					- <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>     / 
					 <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
					
				{% endif %}<br>
				{{ post.body | slice:":200" | safe}}
			<br> </li><br>

	{% endfor %}
	</ul>

{% else %}
	<h3>
		<strong> Sorry! </strong>{{ cats }} not found in our Category <br>
		Please add post to this category or add The category in <em> Add Category </em> option <br><br><hr>
		Thank u...
	</h3>
{% endif %}
{% endblock %}